﻿@model DateTimeCustom.Models.CustomDateTime;

@{
    ViewData["Title"] = "Index";
}

<h2>Custom DateTime</h2>

<div>
    <h3>Date: Model.Date </h3>
    <h3>Day: Model.Day </h3>
    <h3>Hour: Model.Hour </h3>
</div>


